.container {
  height: calc(100vh - 8rem);
  width: 100vw;
  max-width: 80rem;
  margin: 0 auto;
  overflow: hidden;
}

.welcome-message {
  position: absolute;
  top: 45%;
  transform: translateY(-50%);
  font-size: 4rem;
}

.name {
  color: orange;
}
