.navbar-container {
  height: 5rem;
  width: 100vw;
  max-width: 80rem;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 999;
}

.menu-items {
  display: flex;
  align-items: center;
}

.menu-link {
  margin: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.menu-link:hover {
  color: orange;
  padding-bottom: 0.5rem;
  border-bottom: 3px solid orange;
}

.contact-button {
  margin: 1rem;
  background-color: #ffffff;
  border: 0;
  border-radius: 10px;
  color: #000000;
  padding: 14px 20px;
  cursor: pointer;
  outline: none;
  font-family: Bahnschrift, sans-serif;
  font-size: 18px;
}

.contact-button:hover {
  background-color: orange;
}

.logo {
  color: orange;
  font-size: 100px;
}
